body {
    font-family: Arial, sans-serif;
    background-color: #eef2f3;
}

.container {
    width: 430px;
    margin: 50px auto;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

.box {
    width: 420px;
    margin: 80px auto;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h2 {
    text-align: center;
    color: #333;
}

.success {
    color: green;
}

label {
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px 0;
    border: 1px solid #aaa;
    border-radius: 5px;
}

button {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error {
    background-color: #ffd6d6;
    color: red;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

p {
    font-size: 16px;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}